.page-title {
  padding-left: 15%;
  
  .main {
    font-size: 36px;
    letter-spacing: 11px;
    text-transform: uppercase;
    color: $color-light;
    font-weight: $font-black;
    text-align: start;
  }

  .sub {
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $color-light;
    font-weight: $font-black;
        
    text-align: start;
  }
}

.hero-title {
  padding-top: 30px;

  h1 {
    font-size: 70px;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: $color-main;
    font-weight: $font-bold;

  }
}

.discover {
  h4 {
    font-size: 34px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: $color-light;
    font-weight: $font-normal;
  }
}

.products-header {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 40px;

  .products-title {
    h2 {
      color: $color-main;
      font-size: 70px;
      letter-spacing: 15px;
      text-transform: uppercase;
      font-weight: $font-semibold;
    }

    .divider {
      margin-top: 25px;
      height: 6px;
      background-color: $color-main;
      width: 150%;
      transform: translate(-20%, -50%);
    }
  }
}

.product-wrapper {
  h2 {
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $color-dark;
    font-weight: $font-semibold;

  }

  .desc {
    font-size: 15px;
    color: $color-description;
    font-weight: $font-normal;
  }
}