.about-wrapper {
  max-width: 100%;
  height: 650px;
  margin: 0;
  padding: 0;
    
  img {
    width: 100%;
    height: 650px;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    filter: brightness(50%);
  }
}

.about-page {
  .text {
    margin-top: 25px;
    color: $color-light;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 60%;
    flex-direction: column;
    margin-left: 25%;

    p {
      font-size: 36px;
      letter-spacing: 1px;
      font-weight: $font-semibold;
      font-style: italic;
    }

    .left {
      text-align: end;
    }
  }

}
